<div class="container">

  <div class="row">
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{article.votes}}</h5>
        <h5 class="card-title">Points</h5>
      </div>
    </div>

    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <h5 class="card-title"><a href="{{article.link}}">{{article.link}}</a></h5>
          <a class="btn btn-success btn-sm float-left" (click)="voteUp()">Vode Up</a>
          <a class="btn btn-warning btn-sm float-right" (click)="voteDown()">Vode Down</a>
        </div>
      </div>
    </div>

  </div>

</div>