<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add Articles</h1>
    <div class=form-group>
    <label for="title">Titles</label>
    <input type="text" class="form-control" name="title" id="" aria-describedby="title" #newTitle>
    <hr>
    <label for="link">Link</label>
    <input type="text" class="form-control" name="link" id="" aria-describedby="title" #newLink>
      </div>
      <button class="btn btn-primary" (click)="createNewArticle(newTitle, newLink)">Add Article</button>
  </div>
</div>
<app-article *ngFor="let article of articles" [article]="article"></app-article>